<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD! 😛</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- 부서 추가 팝업 -->
      <div class="write-popup">
        <div class="editor">
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="insertCurriculumNum" type="number" placeholder="과정번호를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="insertCurriculumName" type="text" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="insertCurriculumRoom" type="text" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="insertCurriculumStartPeriod" type="date" value="2022-08-01" placeholder="과정 시작 날짜입력..." />
            <input id="insertCurriculumEndPeriod" type="date" value="2023-02-06" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="insertCurriculumTeacher" type="text" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-cancel" onclick="">취소</a>
            <a href="#" class="btn-success" onclick="addCurriculum()">등록</a>
          </div>
        </div>
      </div>
      <!-- 부서 수정 -->
      <div class="update-popup">
        <div class="editor">
          <div class="close">
            <a href="#" class="btn-close">닫기</a>
          </div>
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="reviseCurriculumNum" type="number" value="9983" placeholder="과정번호를 입력하세요..." readonly />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="reviseCurriculumName" type="text" value="웹개발자 양성과정" placeholder="과정명을 입력하세요..." readonly />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="reviseCurriculumRoom" type="text" value="501호" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="reviseCurriculumStartPeriod" type="date" value="2022-08-02" placeholder="과정 시작 날짜입력..." />
            <input id="reviseCurriculumEndPeriod" type="date" value="2023-02-06" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="reviseCurriculumTeacher" type="text" value="현상원 명예교수" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-update" onclick="doUpdate()">수정</a>
            <a href="#" class="btn-delete" onclick="doDelete()">삭제</a>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
              <span class="title">DW ADMIN</span>
            </a>
          </li>
          <li>
            <a href="./student">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">학생 목록</span>
            </a>
          </li>
          <li>
            <a href="./curriculum">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">과정 목록</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <!-- table -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>과정 목록</h2>
            <a href="#" onclick="addSubject()" class="btn">과정 추가</a>
          </div>
          <table id="curriculum">
            <thead>
              <tr>
                <th>과정 번호</th>
                <th>과정 이름</th>
                <th>과정 호실</th>
                <th>과정 기간</th>
                <th>담당 교사</th>
              </tr>
            </thead>
            <tbody id="data">
              <!-- <tr onclick="getSubject()">
                <td>18990</td>
                <td>주짓수 개발자 양성 과정</td>
                <td>501호</td>
                <td>22.06.15 ~ 22.12.22</td>
                <td>이정수</td>
              </tr>
              <tr onclick="getSubject()">
                <td>18330</td>
                <td>React.js 개발자 양성 과정</td>
                <td>502호</td>
                <td>22.12.07 ~ 23.05.01</td>
                <td>이예진</td>
              </tr> -->
            </tbody>
          </table>
          <!-- 페이징 처리하는 HTML -->
          <div class="pagination">
            <a>Previous</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>Next</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Icon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Jquery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    $('.btn-cancel').click(function () {
      $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function () {
      $('.update-popup').css('display', 'none');
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) => {
        item.classList.remove('hovered');
      });
      this.classList.add('hovered');
    }
    list.forEach((item) => {
      item.addEventListener('mouseover', activeLink);
    });
    // 상세조회
    function getSubject(curriculumNum) {
      $('.update-popup').css('display', 'block');
      $.ajax({
        url: '/api/v1/curriculum/' + curriculumNum,
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          $('#reviseCurriculumNum').val(response.curriculumNum);
          $('#reviseCurriculumName').val(response.curriculumName);
          $('#reviseCurriculumRoom').val(response.curriculumRoom);
          $('#reviseCurriculumStartPeriod').val(response.curriculumStartPeriod);
          $('#reviseCurriculumEndPeriod').val(response.curriculumEndPeriod);
          $('#reviseCurriculumTeacher').val(response.curriculumTeacher);
        },
      });
    }

    function addSubject() {
      $('.write-popup').css('display', 'block');
    }

    // 과정목록 불러오기
    doSubject();
    function doSubject() {
      $.ajax({
        url: 'api/v1/curriculum',
        type: 'GET',
        dataType: 'json',
        success: function (response) {
          var html = '';
          for (var i = 0; i < response.length; i++) {
            html +=
              '<tr onclick="getSubject(' +
              response[i].curriculumNum +
              ')"><td>' +
              response[i].curriculumNum +
              '</td><td>' +
              response[i].curriculumName +
              '</td><td>' +
              response[i].curriculumRoom +
              '</td><td>' +
              response[i].curriculumStartPeriod.replace(/-/g, '.').substr(2, 8) +
              '~' +
              response[i].curriculumEndPeriod.replace(/-/g, '.').substr(2, 8) +
              '</td><td>' +
              response[i].curriculumTeacher +
              '</td></tr>';
          }
          $('#curriculum').append(html);
        },
      });
    }

    //과정 추가
    function addCurriculum() {
      var number = $('#insertCurriculumNum').val();
      var name = $('#insertCurriculumName').val();
      var room = $('#insertCurriculumRoom').val();
      var startPeriod = $('#insertCurriculumStartPeriod').val();
      var endPeriod = $('#insertCurriculumEndPeriod').val();
      var teacher = $('#insertCurriculumTeacher').val();

      var jsonData = {
        curriculumNum: number,
        curriculumName: name,
        curriculumRoom: room,
        curriculumStartPeriod: startPeriod,
        curriculumEndPeriod: endPeriod,
        curriculumTeacher: teacher,
      };

      //AJAX 호출!
      $.ajax({
        url: '/api/v1/curriculum',
        type: 'POST',
        contentType: 'application/json', // 서버에 json 타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          console.log(response);
          alert('과정 추가 완료!');
          location.reload(); //새로고침
        },
      });
    }

    //수정
    //UPDATE == INSERT
    function doUpdate() {
      var number = $('#reviseCurriculumNum').val();
      var name = $('#reviseCurriculumName').val();
      var room = $('#reviseCurriculumRoom').val();
      var startPeriod = $('#reviseCurriculumStartPeriod').val();
      var endPeriod = $('#reviseCurriculumEndPeriod').val();
      var teacher = $('#reviseCurriculumTeacher').val();

      var jsonData = {
        curriculumNum: number,
        curriculumName: name,
        curriculumRoom: room,
        curriculumStartPeriod: startPeriod,
        curriculumEndPeriod: endPeriod,
        curriculumTeacher: teacher,
      };

      $.ajax({
        url: '/api/v1/curriculum',
        type: 'PATCH',
        contentType: 'application/json', //서버에 json 타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          alert('과정 수정 완료!');
          location.reload(); //새로고침
        },
      });
    }

    //과정삭제
    function doDelete() {
      var num = $('#reviseCurriculumNum').val(); //input 데이터 가져오기

      //사원 삭제 ajax 연결하기
      $.ajax({
        url: '/api/v1/curriculum/' + num,
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          alert('과정 삭제 완료!');
          location.reload(); //새로고침
        },
      });
    }
  </script>
</html>
