<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD! 😛</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- 부서 추가 팝업 -->
      <div class="write-popup">
        <div class="editor">
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="addProcessNumber" type="number" placeholder="과정번호를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="addProcessName" type="text" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="addProcessClass" type="text" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="addProcessPeriod-1" type="date" placeholder="과정 시작 날짜입력..." />
            <input id="addProcessPeriod-2" type="date" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="addProcessTeacher" type="text" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-cancel" onclick="">취소</a>
            <a href="#" class="btn-success" onclick="doAdd()">등록</a>
          </div>
        </div>
      </div>
      <!-- 부서 수정 -->
      <div class="update-popup">
        <div class="editor">
          <div class="close">
            <a href="#" class="btn-close">닫기</a>
          </div>
          <div class="input-box">
            <label>과정 번호 : </label>
            <input id="processNumber" type="number" value="9983" placeholder="과정번호를 입력하세요..." readonly />
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <input id="processName" type="text" value="웹개발자 양성과정" placeholder="과정명을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 호실 : </label>
            <input id="processClass" type="text" value="501호" placeholder="과정호실을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>과정 기간 : </label>
            <input id="processPeriod-1" type="date" placeholder="과정 시작 날짜입력..." />
            <input id="processPeriod-2" type="date" placeholder="과정 종료 날짜입력..." />
          </div>
          <div class="input-box">
            <label>담당 교사 : </label>
            <input id="processTeacher" type="text" value="현상원 명예교수" placeholder="교사이름 입력하세요..." />
          </div>
          <div class="btn-area">
            <a href="#" class="btn-update" onclick="doUpdate()">수정</a>
            <a href="#" class="btn-delete" onclick="doDelete()">삭제</a>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
              <span class="title">DW ADMIN</span>
            </a>
          </li>
          <li>
            <a th:href="@{/index}">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">학생 목록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dept}">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">과정 목록</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <!-- table -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>과정 목록</h2>
            <a href="#" onclick="addSubject()" class="btn">과정 추가</a>
          </div>
          <table id="table">
            <thead>
              <tr>
                <th>과정 번호</th>
                <th>과정 이름</th>
                <th>과정 호실</th>
                <th>과정 기간</th>
                <th>담당 교사</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
          <!-- 페이징 처리하는 HTML -->
          <div class="pagination">
            <a>Previous</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>Next</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Icon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Jquery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <script>
    var table = '';
    $.ajax({
      url: '/process',
      type: 'GET',
      contentType: 'application/json',
      dataType: 'json',
      success: function (response) {
        console.log(response);
        for (var i = 0; i < response.length; i++) {
          table +=
            '<tr onclick="getSubject(' +
            response[i].processNumber +
            ')"><td>' +
            response[i].processNumber +
            '</td><td>' +
            response[i].processName +
            '</td><td>' +
            response[i].processClass +
            '</td><td>' +
            response[i].processPeriod +
            '</td><td>' +
            response[i].processTeacher +
            '</td></tr>';
        }
        $('#table').append(table);
      },
    });

    // 과정 추가
    function doAdd() {
      var num = $('#addProcessNumber').val();
      var name = $('#addProcessName').val();
      var processClass = $('#addProcessClass').val();
      var period = $('#addProcessPeriod-1').val() + '~' + $('#addProcessPeriod-2').val();
      var teacher = $('#addProcessTeacher').val();

      var data = {
        processNumber: num,
        processName: name,
        processClass: processClass,
        processPeriod: period,
        processTeacher: teacher,
      };

      $.ajax({
        url: '/process',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function (response) {
          if (response) {
            alert('과정 추가 완료');
            location.reload();
          } else {
            alert('과정 추가 실패');
            return false;
          }
        },
      });
    }

    // 과정 삭제
    function doDelete() {
      var id = $('#processNumber').val();
      $.ajax({
        url: '/process/' + id,
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          alert('삭제 성공');
          console.log(response);
          location.reload();
        },
      });
    }

    // 과정 업데이트
    function doUpdate() {
      var num = $('#processNumber').val();
      var name = $('#processName').val();
      var processClass = $('#processClass').val();
      var period = $('#processPeriod-1').val() + '~' + $('#processPeriod-2').val();
      var teacher = $('#processTeacher').val();

      var jsonData = {
        processNumber: num,
        processName: name,
        processClass: processClass,
        processPeriod: period,
        processTeacher: teacher,
      };

      $.ajax({
        url: '/process',
        type: 'PATCH',
        contentType: 'application/json', //서버에 json 타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          console.log(response);
          alert('과정 정보 수정 완료');
          location.reload(); //강제 새로고침
        },
      });
    }

    $('.btn-cancel').click(function () {
      $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function () {
      $('.update-popup').css('display', 'none');
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) => {
        item.classList.remove('hovered');
      });
      this.classList.add('hovered');
    }
    list.forEach((item) => {
      item.addEventListener('mouseover', activeLink);
    });

    function getSubject(processNumber) {
      $('.update-popup').css('display', 'block');

      $.ajax({
        url: '/process/' + processNumber,
        type: 'GET',
        contentType: 'application/json',
        dataType: 'json',
        success: function (response) {
          $('#processNumber').val(response.processNumber);
          $('#processName').val(response.processName);
          $('#processClass').val(response.processClass);
          var date = response.processPeriod.split('~');

          console.log(date[0]);
          $('#processPeriod-1').val(date[0]);
          $('#processPeriod-2').val(date[1]);
          $('#processTeacher').val(response.processTeacher);
        },
      });
    }

    function addSubject() {
      $('.write-popup').css('display', 'block');
    }
  </script>
</html>
