<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD! 😛</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="container">
      <!-- 학생 추가 팝업 -->
      <div class="write-popup">
        <div class="editor">
          <div class="input-box">
            <label>학생 이름 : </label>
            <input id="addStudentName" type="text" placeholder=" 이름을 입력하세요..." />
          </div>
          <div class="input-box">
            <label>학생 나이 : </label>
            <input id="addStudentAge" type="number" placeholder=" 나이를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>연락처 : </label>
            <input id="addStudentTel" type="number" placeholder=" - 를 제거하고 입력하세요." />
          </div>
          <div class="input-box">
            <label>주소 </label>
            <input id="addStudentAddr" type="text" placeholder=" 주소를 입력하세요..." />
            <button class="postBtn" onclick="getPostCode()">우편번호 찾기</button>
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <select name="" id="addProcessSelect">
              <option value="" disabled selected>--과정을 선택해 주세요--</option>
            </select>
            <!-- <input id="addProcessNumber" type="number" placeholder=" - 를 제거하고 입력하세요." /> -->
          </div>
          <div class="btn-area">
            <a href="#" class="btn-cancel" onclick="">등록 취소</a>
            <a href="#" class="btn-success" onclick="doAdd()">학생 등록</a>
          </div>
        </div>
      </div>
      <!-- 학생정보 수정 -->
      <div class="update-popup">
        <div class="editor">
          <div class="close">
            <a href="#" class="btn-close">닫기</a>
          </div>
          <div class="input-box">
            <label>학생 번호 : </label>
            <input id="studentNumber" type="number" readonly />
          </div>
          <div class="input-box">
            <label>학생 이름 : </label>
            <input id="studentName" type="text" />
          </div>
          <div class="input-box">
            <label>학생 나이 : </label>
            <input id="studentAge" type="number" placeholder=" 나이를 입력하세요..." />
          </div>
          <div class="input-box">
            <label>연락처 : </label>
            <input id="studentTel" type="number" placeholder=" - 를 제거하고 입력하세요." />
          </div>
          <div class="input-box">
            <label>주소 </label>
            <input id="studentAddr" type="text" placeholder=" 주소를 입력하세요..." />
            <button class="postBtn" onclick="getPostCode()">우편번호 찾기</button>
          </div>
          <div class="input-box">
            <label>과정 명 : </label>
            <select name="" id="processSelect"></select>
          </div>
          <div class="btn-area">
            <a href="#" class="btn-update" onclick="doUpdate()">수정</a>
            <a href="#" class="btn-delete" onclick="doDelete()">삭제</a>
          </div>
        </div>
      </div>
      <div class="navigation">
        <ul>
          <li>
            <a href="#">
              <span class="icon"><ion-icon name="logo-apple"></ion-icon></span>
              <span class="title">DW ADMIN</span>
            </a>
          </li>
          <li>
            <a th:href="@{/index}">
              <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
              <span class="title">학생 목록</span>
            </a>
          </li>
          <li>
            <a th:href="@{/dept}">
              <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
              <span class="title">과정 목록</span>
            </a>
          </li>
          <!-- <li>
            <a href="#">
              <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
              <span class="title">Sign Out</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
    <!-- main -->
    <div class="main">
      <!-- cards -->
      <div class="cardBox">
        <div class="card">
          <div>
            <div id="studentsCnt" class="numbers"></div>
            <div class="cardName">학생 수</div>
          </div>
          <div class="iconBx">
            <ion-icon name="school-outline"></ion-icon>
          </div>
        </div>
        <div class="card">
          <div>
            <div id="boardCnt" class="numbers"></div>
            <div class="cardName">학생 평균나이</div>
          </div>
          <div class="iconBx">
            <ion-icon name="book-outline"></ion-icon>
          </div>
        </div>
      </div>
      <!-- table -->
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h2>학생 목록</h2>
            <!-- <a href="#" class="btn" style="background-color: #19ce60" onclick="downloadExcelFile()">엑셀 다운로드</a> -->
            <a href="#" id="empAdd" class="btn">학생 추가</a>
          </div>
          <table>
            <thead>
              <tr>
                <th>학생 번호</th>
                <th>학생 이름</th>
                <th>학생 나이</th>
                <th>학생 연락처</th>
                <th>주소</th>
                <th>과정 명</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
          <!-- 페이징 처리하는 HTML -->
          <div class="pagination">
            <a>Previous</a>
            <a>1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>Next</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- Icon CDN -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <!-- Jquery CDN -->
  <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
  ></script>
  <!-- 도로명주소 CDN -->
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    // 과정 선택 api
    loadProcess();
    function loadProcess() {
      var select = $('#processSelect');
      var addSelect = $('#addProcessSelect');
      $.ajax({
        url: '/process',
        type: 'GET',
        contentType: 'application/json',
        dataType: 'json',
        success: function (response) {
          for (var i = 0; i < response.length; i++) {
            var option = $('<option value = "' + response[i].processNumber + '">' + response[i].processName + '</option>');
            select.append(option);
          }
          for (var i = 0; i < response.length; i++) {
            var option = $('<option value = "' + response[i].processNumber + '">' + response[i].processName + '</option>');
            addSelect.append(option);
          }
        },
      });
    }

    loadStudent();
    // 모든 학생 불러오는 함수
    function loadStudent() {
      var table = '';
      var avg = 0;
      $.ajax({
        url: '/student',
        type: 'GET',
        contentType: 'application/json',
        dataType: 'json',
        success: function (response) {
          for (var i = 0; i < response.length; i++) {
            var tel = '010-';
            var tel_split = response[i].studentTel.split('');
            for (var j = 0; j < tel_split.length; j++) {
              if (j >= 3 && j <= 6) {
                tel += tel_split[j];
              }
            }
            tel += '-****';
            avg += response[i].studentAge;
            table +=
              '<tr onclick="getData(' +
              response[i].studentNumber +
              ')"><td>' +
              response[i].studentNumber +
              '</td><td>' +
              response[i].studentName +
              '</td><td>' +
              response[i].studentAge +
              '</td><td>' +
              tel +
              '</td><td>' +
              response[i].studentAddr +
              '</td><td>' +
              response[i].processNumber.processName +
              '</td></tr>';
          }
          $('#studentsCnt').html(response.length);
          $('#boardCnt').html(parseInt(avg / response.length));
          $('#data').append(table);
        },
      });
    }

    // 학생 추가
    function doAdd() {
      var name = $('#addStudentName').val();
      var age = parseInt($('#addStudentAge').val());
      var tel = String($('#addStudentTel').val());
      var addr = $('#addStudentAddr').val();
      var processNumber = $('#addProcessSelect').val();

      console.log(processNumber);

      if (name == '' || age == '' || tel == '' || addr == '' || processNumber == '') {
        alert('공백이 있습니다');
        return false;
      }
      var data = {
        studentName: name,
        studentAge: age,
        studentTel: tel,
        studentAddr: addr,
        processNumber: {
          processNumber: processNumber,
        },
      };

      $.ajax({
        url: '/student',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(data),
        dataType: 'json',
        success: function (response) {
          if (response) {
            alert('학생 추가 완료');
            location.reload();
          } else {
            alert('학생 추가 실패');
            return false;
          }
        },
      });
    }

    // 학생 삭제
    function doDelete() {
      var id = $('#studentNumber').val();
      $.ajax({
        url: '/student/' + id,
        type: 'DELETE',
        dataType: 'json',
        success: function (response) {
          alert('삭제 성공');
          console.log(response);
          location.reload();
        },
      });
    }

    // 학생 업데이트
    function doUpdate() {
      var num = $('#studentNumber').val();
      var name = $('#studentName').val();
      var age = $('#studentAge').val();
      var phone = $('#studentTel').val();
      var addr = $('#studentAddr').val();
      var processNumber = $('#processSelect').val();

      var jsonData = {
        studentNumber: num,
        studentName: name,
        studentAge: age,
        studentTel: phone,
        studentAddr: addr,
        processNumber: {
          processNumber: processNumber,
        },
      };

      $.ajax({
        url: '/student',
        type: 'PATCH',
        contentType: 'application/json', //서버에 json 타입으로 보낼 예정(요청)
        data: JSON.stringify(jsonData),
        dataType: 'json',
        success: function (response) {
          console.log(response);
          alert('학생 정보 수정 완료');
          location.reload(); //강제 새로고침
        },
      });
    }

    $('#empAdd').click(function () {
      $('.write-popup').css('display', 'block');
    });
    $('.btn-cancel').click(function () {
      $('.write-popup').css('display', 'none');
    });
    $('.btn-close').click(function () {
      $('.update-popup').css('display', 'none');
    });
    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((item) => {
        item.classList.remove('hovered');
      });
      this.classList.add('hovered');
    }
    list.forEach((item) => {
      item.addEventListener('mouseover', activeLink);
    });
    function getData(studentNumber) {
      $('.update-popup').css('display', 'block');
      $('#studentNumber').val(studentNumber);

      $.ajax({
        url: '/student/' + studentNumber,
        type: 'GET',
        contentType: 'application/json',
        dataType: 'json',
        success: function (response) {
          $('#studentName').val(response.studentName);
          $('#studentAge').val(response.studentAge);
          $('#studentTel').val(response.studentTel);
          $('#studentAddr').val(response.studentAddr);
          $('#processSelect').val(response.processNumber.processNumber).prop('seleted', true);
        },
      });
    }

    //도로명 주소 함수
    function getPostCode() {
      new daum.Postcode({
        oncomplete: function (data) {
          // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
          var extraRoadAddr = ''; // 도로명 조합형 주소 변수
          // 법정동명이 있을 경우 추가한다. (법정리는 제외)
          // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
          if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
            extraRoadAddr += data.bname;
          }
          // 건물명이 있고, 공동주택일 경우 추가한다.
          if (data.buildingName !== '' && data.apartment === 'Y') {
            extraRoadAddr += extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName;
          }
          // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
          if (extraRoadAddr !== '') {
            extraRoadAddr = ' (' + extraRoadAddr + ')';
          }
          // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
          if (fullRoadAddr !== '') {
            fullRoadAddr += extraRoadAddr;
          }
          $('#studentAddr').val(fullRoadAddr);
          $('#addStudentAddr').val(fullRoadAddr);
        },
      }).open();
    }
  </script>
</html>
